<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- УПРАВЛЕНИЕ 4-КОЛЕСНЫМ РОВЕРОМ -->
   
    <gazebo>
        <plugin name="skid_steer_drive" filename="libgazebo_ros_diff_drive.so">
            <commandTopic>cmd_vel</commandTopic>
            <odometry_topic>odom2</odometry_topic>
            <odometry_frame>odom</odometry_frame>
            <robot_base_frame>base_link</robot_base_frame>


            <num_wheel_pairs>2</num_wheel_pairs>
            <left_joint>left_wheel_joint</left_joint>
            <left_joint>back_left_wheel_joint</left_joint>
            <right_joint>right_wheel_joint</right_joint>
            <right_joint>back_right_wheel_joint</right_joint>
            
            <wheel_separation>0.76</wheel_separation>
            <wheel_diameter>0.34</wheel_diameter>
            <torque>1000</torque>
            <updateRate>50.0</updateRate>
            <publishWheelTF>false</publishWheelTF>
            <publishWheelJointState>true</publishWheelJointState>
            <publish_odom>true</publish_odom>
            <publish_odom_tf>true</publish_odom_tf>
            <publish_wheel_tf>false</publish_wheel_tf>
        </plugin>
    </gazebo>


</robot>